
#alpdeskgooglefonts_container {
    padding: 15px;
}

.alpdeskgooglefonts_clear {
    clear: both;
}

.alpdeskgooglefontitem {
    border-bottom: 1px solid #EAEAEC;
    padding: 10px 0 20px 0;
}

#alpdeskgooglefonts_fontitemscontainer h2 {
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#alpdeskgooglefonts_fontitemscontainer h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alpdeskgooglefontitem_variant,
.alpdeskgooglefontitem_subsets {
    margin-top: 5px;
    float: left;
    min-width: 200px;
}

.alpdeskgooglefonts_submitContainer {
    margin-top: 15px;
}