{% extends "@Contao/be_main" %}

    {% block main %}

        <div id="alpdeskgooglefonts_wrapper">

            <h2> Google Fonts</h2>
            <span id="alpdeskgooglefonts_error">{{ errorMessage }}</span>

        </div>

    {% endblock %}